# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.noobstore.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\DEV\github\noobstore\.idea\.idea.noobstore.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
