# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NoobStore.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\DEV\github\noobstore\.idea\.idea.NoobStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
